# Configuration file

"client specific" {
    B:"[ACDEEFABE_7b7119]U Apply Poison Shader In All Biomes"=false
    S:"[S5F66D732_7b7119]U Satisfactory OST Folder"=
}


"control setup" {
    I:"Pink Forest Biome ID"=144
    I:"Cave Mob Spawn Multiplier"=1
    B:"Use Alternate Poison Shader"=false
    D:"Biome Border Ore Cluster Rate"=1.0
    B:"Make Green Power Slugs Blue (SF Update 5)"=false
    B:"Paleberry Butterfly Fertilization Requires Pink Birch Pollen"=false
    S:"Compacted Coal Unlock Required Item (Empty for None)"=minecraft:coal*64
    S:"Compacted Coal Unlock Required Power (power type;amount pertick;ticks to maintain)"=RF;300;600
    S:"Turbofuel Unlock Required Item (Empty for None)"=
    S:"Turbofuel Unlock Required Power (power type;amount pertick;ticks to maintain)"=RF;2400;600
}


